
/***********************************
############## LOGIN ###############
***********************************/
.login{
    background: #0289cc;
}

.login_bg{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 50%;
    background: #f3f3f3 url(../images/wc_login_bg.jpg) bottom center no-repeat;
    background-size: cover;
    border-bottom: 1px solid #008068;
}

.login .trigger_ajax{
    display: block;
}

.login_container{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    text-align: center;
    display: flex;
    padding: 50px 0;
}

.login_box{
    margin: auto;
    width: 400px;
    max-width: 90%;
}

.login_logo{
    width: 120px;
    max-width: 80%;
}

.login_form{
    text-align: left;
    display: block;
    width: 400px;
    max-width: 100%;
    margin: 25px auto;
    background: #fff;
    padding: 25px;
    box-shadow: 0 0 5px 0 #ccc;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.login_link{
    font-size: 0.8em;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: 300;
}

.login_link a{
    color: #fff;
    font-size: 0.875em;
    font-weight: 500;
    text-decoration: none;
}

.login_link a:hover{
    text-decoration: underline;
}

/***********************************
############ BOX MODEL #############
***********************************/
.box{
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    padding: 10px;
}

.box > header{
    padding: 10px;
    border-top: 5px solid #EBEBEB;
    border-bottom: 1px solid #eee;
    background: #fff;
}

.box > header h1{
    font-size: 0.875em;
    font-weight: 600;
}

.box > header .a{
    text-transform: uppercase;
    color: #00B494;
    text-decoration: none;
    font-size: 0.8em;
    margin-top: 4px;
}

.box > header .a:hover{
    text-decoration: underline;
}

.box25{width: 25%;}
.box30{width: 30%;}
.box33{width: 33.333333333%;}
.box50{width: 50%;}
.box70{width: 70%;}
.box100{width: 100%;}

.box_content{
    padding: 15px;
    font-weight: 300;
    background: #fff;
    font-size: 0.875em;
}

.box_actions{
    padding: 15px 0;
    background: #fbfbfb;
    text-align: center;
    font-size: 0.8em;
}

.box_actions .btn{
    margin: 0 4px !Important;
}

.header_blue{background: #0E96E5 !important; border-color: #096397 !important; color: #fff;}
.header_green{background: #00B494 !important; border-color: #008068 !important; color: #fff;}
.header_yellow{background: #FABB3D !important; border-color: #EEA306 !important; color: #fff;}
.header_red{background: #FF524F !important; border-color: #C63D3A !important; color: #fff;}


